body{
    background-color: #F6F6F6;
}

.pattern-background {
    background: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.95)), url('../assets/repeat-bg-main.png') repeat;
}

.shadow {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
}

.dog-image {
    background: url('../assets/dog-contacts.png') no-repeat center center;
    background-size: 80%;
    background-color: #21201F;
    background-position: right bottom;
    margin: 0px 0px 0px auto;
}

.goaltext {
    font-family: 'Waffle';
    width: 100%;
    text-align: center;
    margin: 60px 0px;
    font-size: 65px;
}

.adress-map-box{
    padding: 0 11% 150px 11%;
}

.adress-map {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.icon_text {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.icon_text img {
    width: 9%;
    height: auto;
}

.icon_text p{
    margin: 0% 3%;
}


.row1 {
    height: 900px;
}

.main-content {
    display: flex; /* Используем flexbox для расположения колонок */
    align-items: center; /* Вертикальное центрирование контента колонок */
    background-color: white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);;
}

.main-content button{
    margin-bottom: 15px;
}

.left-column,
.right-column {
    flex: 1; /* Колонки займут по половине ширины родителя */
    display: flex; /* Также используем flexbox для центрирования изображения и текста */
    justify-content: left; /* Горизонтальное центрирование содержимого колонок */
    align-items: left; /* Вертикальное центрирование содержимого колонок */
    text-align: left; /* Центрируем текст внутри правой колонки */
    padding: 20px; /* Добавляем немного отступа */
}

.left-column img {
    max-width: 100%; /* Чтобы картинка не выходила за пределы своей колонки */
    height: auto; /* Чтобы сохранить пропорции картинки */
}

.text-content {
    max-width: 60%; /* Ограничиваем ширину текста, делая его менее широким, чем колонка */
}