@font-face {
    font-family: 'Waffle';
    src: url('../fonts/MADE Waffle Soft.otf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Evolve';
    src: url('../fonts/MADE Evolve Sans Medium.otf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Evolve';
    src: url('../fonts/MADE Evolve Sans Regular.otf') format("truetype");
    font-weight: 400;
}

.container-fluid h1 {
    font-family: 'Waffle';
    text-transform: uppercase;
}

.container h1 {
    font-family: 'Waffle';
    text-transform: uppercase;
}

.container-fluid p {
    font-family: 'Evolve';
    font-weight: 400;
}

.container .icon-text {
    font-family: 'Evolve';
    letter-spacing: 2px;
    font-weight: 400;
}

footer {
    background-color: #21201F;
    color: white;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: top;
    width: 50%;
    margin: 0px auto;
}

@media (max-width:1090px)
{
    .footer-container {
        flex-direction: column;
        align-items: center;  
        text-align: center;  
    }

    .column p {
        display: flex;
        justify-content: center;
        margin: 15px auto 0 auto;
    }
}

.column h3 {
    margin-bottom: 10px;
    font-family: 'Waffle';
    letter-spacing: 2px;
}

.column p {
    display: flex;
    align-items: center;
    color: #FF8A00;
    height: 50px;
    margin: 15px 0 0 0;
    font-family: 'Evolve';
    letter-spacing: 2px;
    font-weight: 400;
}

.column span {
    margin-left: 10px;
}

.icon1 {
    width: 26px;
    height: 20px;
    background-size: cover;
}

.icon2 {
    width: 18px;
    height: 26px;
    background-size: cover;
}

.icon-mail {
    background-image: url('../assets/icon-email.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 30px;
}

.icon-phone {
    background-image: url('../assets/icon-phone.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 30px;
}

.icon-map {
    background-image: url('../assets/icon-marker.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 30px;
}

header {
    background: #21201F;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    position: relative;
}

.scroll-container {
    width: 48vw;
    display: flex;
    justify-content: space-between;
}

.highlight {
    color: #FF8A00;
}

a.nav-link {
    color: white;
    transition: color 0.5s ease;
}

a.nav-link:visited {
    color: white;
}

a.nav-link:hover {
    color: #FFD7A8;
}

#lines {
    border-bottom: 12px double white;
    border-top: 4px solid white;
    content: "";
    height: 4px;
    width: 30px;
    box-sizing: unset;
    display: inline-block;
    vertical-align: middle;
}

.orange_button {
    background-color: #FF8A00;
    border: none;
    border-radius: 20px;
    padding: 15px 45px;
    font-family: 'Waffle';
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    width: fit-content;
}

.orange_button:hover {
    background-color: orange;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.custom-button:active {
    background-color: #FF8A00;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(4px);
}

.orange_button:focus {
    outline: none;
}

.donats_content {
    padding: 70px 10% 80px 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 1270px)
{
    .donats_content {
        align-items: center;
        text-align: center;
    }

    .donats_column {
        justify-content: center;
        align-items: center;
    }
}

.donats_content img {
    width: 480px;
    height: fit-content;
    margin: 0 5% 0 5%;
}

.donats_column {
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-self: start;
}

.donats_column h1 {
    font-family: 'Waffle';
    text-transform: uppercase;
    font-size: 35px;
    width: 90%;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
}

.donats_column p {
    font-family: 'Evolve';
    font-weight: 400;
    font-size: 18px;
}

.grey_text {
    color: #989898;
    font-size: 17px;
}

.bank_card {
    background-color: #FF8A00;
    border-radius: 9px;
    color:black;
    display: flex;
    width: fit-content;
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.bank_card:hover {
    color:black;
    background-color: orange;
    text-decoration: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.bank_card:visited {
    color:black;
    text-decoration: none;
}

.bank_card img{
    width: 30px;
    margin: 0;
}


.bank_card h2 {
    font-family: 'Evolve';
    font-weight: 500;
    font-size: 21px;
    margin: 0 0 0 15px;
}
