@font-face {
    font-family: 'Waffle';
    src: url('../fonts/MADE Waffle Soft.otf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Evolve';
    src: url('../fonts/MADE Evolve Sans Medium.otf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Evolve';
    src: url('../fonts/MADE Evolve Sans Regular.otf') format("truetype");
    font-weight: 400;
}

.container-fluid h1 {
    font-family: 'Waffle';
    text-transform: uppercase;
}

.container h1 {
    font-family: 'Waffle';
    text-transform: uppercase;
}

.container-fluid p {
    font-family: 'Evolve';
    font-weight: 400;
}

.container .icon-text {
    font-family: 'Evolve';
    letter-spacing: 2px;
    font-weight: 400;
}

footer {
    background-color: #21201F;
    color: white;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: top;
    width: 50%;
    margin: 0px auto;
}

.column h3 {
    margin-bottom: 10px;
    font-family: 'Waffle';
    letter-spacing: 2px;
}

.column p {
    display: flex;
    align-items: center;
    color: #FF8A00;
    height: 50px;
    margin: 15px 0 0 0;
    font-family: 'Evolve';
    letter-spacing: 2px;
    font-weight: 400;
}

.column span {
    margin-left: 10px;
}

.icon1 {
    width: 26px;
    height: 20px;
    background-size: cover;
}

.icon2 {
    width: 18px;
    height: 26px;
    background-size: cover;
}

.icon-mail {
    background-image: url('../assets/icon-email.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 30px;
}

.icon-phone {
    background-image: url('../assets/icon-phone.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 30px;
}

.icon-map {
    background-image: url('../assets/icon-marker.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 30px;
}