.pattern-background {
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/repeat-bg-main.png') repeat;
}


.highlight {
    color: #f79824;
}

.dog-image {
    background: url('../assets/volunteer.png') no-repeat center center;
    background-size: 75vh;
    background-color: #21201F;
}

.dog-image2 {
    background: url('../assets/dog-slide2.png') no-repeat center bottom;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/repeat-bg-main.png') repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}


.main-content {
    display: flex; /* Используем flexbox для расположения колонок */
    align-items: center; /* Вертикальное центрирование контента колонок */
}

.main-content button{
    margin-bottom: 15px;
}

.left-column,
.right-column {
    flex: 1; /* Колонки займут по половине ширины родителя */
    display: flex; /* Также используем flexbox для центрирования изображения и текста */
    justify-content: center; /* Горизонтальное центрирование содержимого колонок */
    align-items: center; /* Вертикальное центрирование содержимого колонок */
    text-align: center; /* Центрируем текст внутри правой колонки */
    padding: 20px; /* Добавляем немного отступа */
}

.left-column img {
    max-width: 100%; /* Чтобы картинка не выходила за пределы своей колонки */
    height: auto; /* Чтобы сохранить пропорции картинки */
}

.text-content {
    max-width: 80%; /* Ограничиваем ширину текста, делая его менее широким, чем колонка */
}

/* Стили для кнопки */
button {
    padding: 10px 20px;
    margin-top: 20px;
}


.pattern-background2 {
    background-color: #21201F;
    color: white;
}



footer {
    background-color: #21201F;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.column h3 {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.column p {
    display: flex;
    align-items: center;
    color: orange;
    margin: 5px 0;
}

.column span {
    margin-left: 10px;
}

.icon {
    width: 16px;
    height: 16px;
    background-size: cover;
}


.icon-mail {
    background-image: url('../assets/icon-email.png');
}

.icon-phone {
    background-image: url('../assets/icon-phone.png');
}

.icon-map {
    background-image: url('../assets/icon-marker.png');
}
