.pattern-background {
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/repeat-bg-main.png') repeat;
}

.dog-image {
    background: url('../assets/volunteer.png') no-repeat bottom center;
    background-size: 90vh;
    background-color: #21201F;
    width: 50%;
}

.row2 {
    display: flex;
}

.container1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1150px) {
    .row2 .dog-image {
        width: 0px;
        padding: 0px;
    }

    .container1 {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

.item-shelter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    width: 180px;
    margin: 0px 20px 50px 20px;
    justify-content: space-between;
}

.shelter-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}