.pattern-background {
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/repeat-bg-main.png') repeat;
}


.highlight {
    color: #f79824;
}


.dog-image {
    background: url('../assets/dog-main.png') no-repeat center center;
    background-size: 80vh;
    background-color: #21201F;
}

.dog-image2 {
    background: url('../assets/dog-slide2.png') no-repeat center bottom;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/repeat-bg-main.png') repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}


.pattern-background2 {
    background-color: #21201F;
    color: white;
}

.card {
    margin: 30px 2vw;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.card img {
    border-radius: 0.25rem 0.25rem 0 0;
}

.card-title {
    margin-bottom: 0.75rem;
    font-weight: bold;
}

.navigation-button {
    border: none;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 12px;
    font-weight: bold;
    padding: 0.6rem 1rem;
}

.main-button {
    background-color: #f79824;
    color: black;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 12px;
}

.card-button {
    background-color: white;
    color: black;
    border: none;
    padding: 1.4vh 3vw;
    font-size: 0.85vw;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-weight: bold;
}