.pattern-background {
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/repeat-bg-main.png') repeat;
}

.dog-image {
    background: url('../assets/dog-main.png') no-repeat center center;
    background-size: 80vh;
    background-color: #21201F;
}

.dog-image2 {
    background: url('../assets/dog-slide2.png') no-repeat center bottom;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/repeat-bg-main.png') repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}

.pattern-background2 {
    background-color: #21201F;
    color: white;
}

.card {
    margin: 30px 2vw;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.2);
    font-family: 'Waffle';
}

.card img {
    border-radius: 0.25rem 0.25rem 0 0;
}

.card-title {
    margin-bottom: 0.75rem;
    font-weight: bold;
}

.navigation-button {
    border: none;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 12px;
    font-weight: bold;
    padding: 0.6rem 1rem;
    font-family: 'Waffle';
}

.main-button {
    background-color: #FF8A00;
    color: black;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 12px;
    font-family: 'Waffle';
}

.card-button {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 40px;
    font-size: 0.85vw;
    border-radius: 16px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 15px;
    font-weight: bold;
}

/* ////// */

.left-column,
.right-column {
    flex: 1; /* Колонки займут по половине ширины родителя */
    display: flex; /* Также используем flexbox для центрирования изображения и текста */
    justify-content: center; /* Горизонтальное центрирование содержимого колонок */
    align-items: center; /* Вертикальное центрирование содержимого колонок */
    text-align: center; /* Центрируем текст внутри правой колонки */
    padding: 20px; /* Добавляем немного отступа */
}

.left-column img {
    max-width: 100%; /* Чтобы картинка не выходила за пределы своей колонки */
    height: auto; /* Чтобы сохранить пропорции картинки */
}

.text-content {
    max-width: 80%; /* Ограничиваем ширину текста, делая его менее широким, чем колонка */
}

.main-content {
    display: flex; /* Используем flexbox для расположения колонок */
    align-items: center; /* Вертикальное центрирование контента колонок */
}

.main-content button{
    margin-bottom: 15px;
}

footer {
    background-color: #21201F;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.column h3 {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.column p {
    display: flex;
    align-items: center;
    color: #FF8A00;
    margin: 5px 0;
}

.column span {
    margin-left: 10px;
}

.icon {
    width: 16px;
    height: 16px;
    background-size: cover;
}


.icon-mail {
    background-image: url('../assets/icon-email.png');
}

.icon-phone {
    background-image: url('../assets/icon-phone.png');
}

.icon-map {
    background-image: url('../assets/icon-marker.png');
}

.item-shelter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    width: 180px;
    margin: 0px 20px 50px 20px;
    justify-content: space-between;
}

.shelter-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}