.pattern-background {
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/repeat-bg-main.png') repeat;
}

.dog-image {
    background: url('../assets/golden.png') no-repeat center center;
    background-size: 75vh;
    background-color: #21201F;
}

.dog-image2 {
    background: url('../assets/dog-slide2.png') no-repeat center bottom;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/repeat-bg-main.png') repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}

.card-button {
    background-color: white;
    color: black;
    border: none;
    padding: 1vh 3vw;
    font-size: 1vw;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-weight: bold;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    color: black;
    border: none;
    padding: 1vh 3vw;
    font-size: 1vw;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-weight: bold;
  }
  
  .content p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
  }
  
  .responsive-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .btn-learn-more {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s ease;
  }
  
  .btn-learn-more:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .header h1 {
      font-size: 1.5rem;
    }
    .btn-learn-more {
      width: 100%;
      text-align: center;
    }
  }



  /* Стили для кнопки */
button {
    padding: 10px 20px;
    margin-top: 20px;
}


.pattern-background2 {
    background-color: #21201F;
    color: white;
}