.pattern-background {
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/repeat-bg-main.png') repeat;
}

.dog-image {
    background: url('../assets/dogs-main.png') no-repeat bottom right;
    background-size: 100vh;
    background-color: #21201F;
    padding-right: 0px;
}

.dog-image2 {
    background: url('../assets/dog-slide2.png') no-repeat center bottom;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/repeat-bg-main.png') repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}


.pattern-background2 {
    background-color: #21201F;
    color: white;
}

.card {
    margin: 30px 2vw;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.card img {
    border-radius: 0.25rem 0.25rem 0 0;
}

.card-title {
    margin-bottom: 0.75rem;
}



.navigation-button {
    border: none;
    background-color: #fff;
    color: #000;
}



.navigation {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Изменим выравнивание по вертикали */
    padding-top: 20px; /* Добавим некоторый отступ сверху */
    padding-bottom: 40px;
}

.circle {
    display: flex;
    
    line-height: 70px;
    justify-content: center;
    align-items: center;
    margin: 0 10px; /* Увеличим отступ между кружками */
    width: 70px; /* Увеличим размер кружков */
    height: 70px;
    border-radius: 40%;
    font-size: 24px; /* Увеличим размер шрифта для стрелок и номера */
    color: white;
    /* остальные стили остаются теми же */
}

.white, .white2 {
    background-color: #FCFCFC;
    color: gray;
    font-size: 40px;
    transition: background-color 0.3s; /* Добавляем плавность перехода цвета */
}

/* При наведении цвет фона для белых кружков станет немного серее */
.white:hover, .white2:hover {
    background-color: #E6E6E6; /* Чуть более темный оттенок серого */
}

.orange
{
    background-color: orange;
    color: black;
    font-size: 35px;
    transition: background-color 0.3s; 
}

.orange:hover {
    background-color: #FF8A00; /* Чуть более темный оттенок серого */
}

.card-button {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 40px;
    font-size: 0.85vw;
    border-radius: 16px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 15px;
    font-weight: bold;
}

.card {
    margin: 30px 2vw;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.2);
    font-family: 'Waffle';
    align-items: center;
}

.card img {
    border-radius: 0.25rem 0.25rem 0 0;
}

.card-title {
    margin-bottom: 0.75rem;
    font-weight: bold;
    text-align: center;
}

.pets-container {
    margin: 50px 10%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}